/* font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif;*/

h1 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  text-align: center;
  padding-top: 30px;
}
h3 {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  text-align: center;
}
i {
  display: flex;
  justify-content: center;
}
