:root {
  --main-color: #272142;
  --darkviolet: #662eed;
  --lightgray: #f9f7fe;
  --nunito-font: "Nunito", sans-serif;
  --roboto-font: "Roboto", sans-serif;
}

h1 {
  margin: 80px;
  color: var(--main-color);
  font-family: var(--nunito-font);
  font-size: 72px;
  font-weight: 700;
  line-height: normal;
}

.centered h1 {
  font-family: var(--nunito-font);
  font-weight: 700;
  text-align: center;
  font-size: 55px;
  margin: 0px;
}
.centered h3 {
  font-family: var(--nunito-font);
  font-weight: 700;
  text-align: center;
  font-size: 24px;

  color: var(--main-color);
}

.background {
  width: 100%;
  margin-top: 87px;
  margin-bottom: 60px;
  position: relative;
  text-align: center;
  top: 0;
  left: 0;
  box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45),
    0px 25px 20px -20px rgba(0, 0, 0, 0.45);
  border-radius: 0px;
}
.background img {
  border-radius: 0px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container img {
  margin-bottom: 10px;
}

img {
  border-radius: 12px;
}

.container a {
  color: var(--main-color);
  font-family: var(--nunito-font);
  font-size: 26px;
  font-style: normal;
  line-height: normal;
  margin-bottom: 30px;
  font-weight: 700;
  text-decoration: none;
}

@media (min-width: 1201px) {
  .centered h1 {
    font-size: 55px;
  }
  .centered h3 {
    font-size: 24px;
  }
}
@media (max-width: 1200px) {
  .centered h1 {
    font-size: 45px;
  }
  .centered h3 {
    font-size: 20px;
  }
  .container a {
    font-size: 22px;
  }
  .background {
    margin-top: 70px;
  }
}
@media (max-width: 1000px) {
  .centered h1 {
    font-size: 35px;
  }
  .centered h3 {
    font-size: 18px;
  }
  .container a {
    font-size: 20px;
  }
  .background {
    margin-top: 60px;
  }
}
@media (max-width: 800px) {
  .centered h1 {
    font-size: 30px;
  }
  .centered h3 {
    font-size: 16px;
  }
  .container a {
    font-size: 18px;
  }
  .background {
    margin-top: 50px;
  }
}
@media (max-width: 700px) {
  .centered h1 {
    font-size: 25px;
  }
  .centered h3 {
    font-size: 14px;
  }

  .background {
    margin-top: 40px;
  }
}

@media (max-width: 550px) {
  .centered h1 {
    font-size: 20px;
  }
  .centered h3 {
    font-size: 12px;
  }
  .container a {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .background {
    margin-top: 30px;
    margin-bottom: 40px;
  }
}
@media (max-width: 420px) {
  .centered h1 {
    font-size: 17px;
  }
  .centered h3 {
    font-size: 12px;
  }
  .container a {
    font-size: 14px;
  }
  .background {
    margin-top: 25px;
    margin-bottom: 35px;
  }
}
@media (max-width: 380px) {
  .centered h1 {
    font-size: 14px;
  }
  .centered h3 {
    font-size: 11px;
  }
  .container a {
    font-size: 13px;
  }
}
@media (max-width: 350px) {
  .centered h1 {
    font-size: 12px;
  }
  .centered h3 {
    font-size: 10px;
  }
  .container a {
    margin-bottom: 15px;
  }
}

.about-section-content h2 {
  font-size: 64px;
  font-weight: 700;
  line-height: normal;
  margin-top: 60px;
}

.about-section-content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.about-section-content h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.about-section-content {
  color: var(--main-color);
  font-family: var(--nunito-font);
  padding-left: 50px;
  padding-right: 50px;
}

.favourites {
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
  color: var(--main-color);
  font-family: var(--nunito-font);
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.fa-square-facebook {
  color: var(--main-color);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
@media (max-width: 1200px) {
  .about-section-content h2 {
    font-size: 60px;
    margin-top: 40px;
  }
  .favourites {
    margin-top: 60px;
  }
}
@media (max-width: 992px) {
  .about-heading {
    margin: 60px;
    font-size: 60px;
  }
  .about-section-content h2 {
    font-size: 30px;
    margin-top: 20px;
  }
  .about-section-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .favourites {
    margin-top: 30px;
  }
  .about-section-content h4 {
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
  }
}
@media (max-width: 400px) {
  .about-heading {
    margin: 40px;
    font-size: 40px;
  }
  .favourites {
    font-size: 25px;
  }
  .about-section-content h4 {
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
  }
}
.content-list a,
i {
  color: var(--main-color);
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin-left: 100px;
}

a:hover {
  color: var(--darkviolet);
  text-decoration: none;
}

.categories {
  color: var(--main-color);
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

body {
  position: relative;
}

.scroll-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

/* to hide the button when page first loaded*/
.scroll-container:before {
  content: "";
  display: block;
  height: 100vh;
  pointer-events: none;
}

/* fixed to right bottom of page*/
#scroll {
  position: sticky;
  top: 88vh;
  cursor: pointer;
  font-size: 20px;
}

#scroll {
  padding: 10px;
  background-color: var(--lightgray);
  color: var(--nunito-font);

  border-radius: 12px;
  text-decoration: none;
}
